.Home {

  &-jumbotron {
    @include display(flex);
    @include flex-direction(column);
    margin: 36px auto;
    &-title {
      color: $white;
      font-size: 48px;
      font-weight: 100;
      margin: 8px;
      text-align: center;
    }
    &-sign-up-button {
      @extend .sign-up-button;
    }
    &-image-trio {
      margin-top: 2rem;
    }
  }

  &-section {
    padding: 4rem;
    &-title {
      @extend .logo-font;
      font-weight: bold;
      text-align: center;
      font-size: 40px;
    }
    &-light {
      background: $white;
    }
    &-benefit-cards,
    &-price-cards {
      @extend .content-wrapper;
      @include display(flex);
    }
    &-benefit-cards {
      @include flex-wrap(wrap);
      // Makes sure benefit cards are alternating orientation of text and image every second one
      &-card:nth-child(even) {
        @include flex-direction(row-reverse);  
      }
    }
    &-price-cards {
      @include justify-content(space-around);
      &-card {
        @include flex(0 0 200px);
      }
    }
  }

}
