.Home {
  @include display(flex);
  @include flex-direction(column);
  &-jumbotron {
    margin: 36px auto;
    &-title {
      color: $white;
      font-size: 48px;
      font-weight: 100;
      margin: 8px;
      text-align: center;
    }
    &-image-trio {
      margin-top: 2rem;
    }
  }
}