@import '~bourbon/app/assets/stylesheets/_bourbon';
@import './colors';
@import './extends';

@import 'pages/Home';
@import 'shared/Header';
@import 'shared/ImageTrio';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $background-color;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", serif;
}
