.BenefitCard {
  @include display(flex);
  padding: 20px;

  &-image, &-info {
    @include flex(1 1 50%);
    display: inline-block;
  }

  &-info {
    &-title {
      font-weight: 300;
      font-size: 20px;
    }
    &-body {
      font-size: 14px;
    }
  }

}
