.BenefitCard {
  @include display(flex);
  border-bottom: 1px solid $grayLighter;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;

  &-image-section, &-info-section {
    @include flex(1 1 50%);
    display: inline-block;
  }

  &-image-section {
    text-align: center;
    &-image {
      @extend .image-box-shadow;
      height: 300px;
      width: 425px;
    }
  }

  &-info-section {
    &-title {
      font-size: 26px;
      font-weight: 400;
      margin-top: 0;
    }
    &-description {
      font-size: 16px;
      line-height: 1.5;
    }
  }

}
