$image-height: 300px;
$image-width: 400px;

.ImageTrio {
  @include display(flex);
  @include justify-content(center);
  position: relative;
  &-left, &-right {
    height: $image-height;                 
    width: $image-width;
    @include align-self(flex-end);
  }
  &-left {
    margin-right: -($image-width * 0.5);
  }
  &-right {
    margin-left: -($image-width * 0.5);
  }
  &-center {
    position: relative;
    height: $image-height * 1.25;
    width: $image-width * 1.25;
    &-image {
      position: relative;
    }
  }
} 
