$image-height: 450px;
$image-width: 585px;

.ImageTrio {
  @include display(flex);
  @include justify-content(center);
  position: relative;
  &-left, &-right {
    @extend .image-box-shadow;
    @include align-self(flex-end);
    height: $image-height;                 
    width: $image-width;
  }
  &-left {
    margin-right: -($image-width * 0.7);
  }
  &-right {
    margin-left: -($image-width * 0.7);
  }
  &-center {
    @extend .image-box-shadow;
    position: relative;
    height: $image-height * 1.075;
    width: $image-width * 1.075;
    &-image {
      position: relative;
    }
  }
} 
